.open-ticket-page {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.open-ticket-page h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.open-form div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
} 

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    outline: none;
    transition: border 0.3s ease;
} 

input[type="text"]:focus,
textarea:focus {
    border-color: #007bff;
} 

textarea {
    min-height: 80px;
    resize: vertical;
} 

input[type="file"] {
    padding: 8px;
}

.open-btn{
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 

button:hover {
    background-color: #0056b3;
}

.decision {
    margin-top: 20px;
}

.decision h3 {
    color: #007bff;
}

.decision p {
    font-size: 16px;
    color: #333;
}
