.product-detail {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-detail p {
    font-size: 16px;
    margin-bottom: 10px;
    
  }
  
  .quantity-container {
    margin-bottom: 20px;
  }
  
  .quantity-container button {
    padding: 5px 10px;
    font-size: 16px;
    margin: 15px 15px;
    cursor: pointer;
  }
  
  .accessories-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .accessories{
    font-size: 30px;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .accessory-info {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 450px;
  }
  
  .accessory-info p {
    font-size: 17px;
  }
  
  .accessory-quantity-container {
    margin-top: 10px;
  }
  
  .accessory-quantity-container button {
    padding: 3px 7px;
    font-size: 14px;
    margin: 0 5px;
  }
  
  .add-to-cart-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
  }
  
  .add-to-cart-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
  }
  
  .total-price {
    font-size: 18px;
    font-weight: bold;
  }
  