/* SemanticSearch.css */
.semantic-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .search-bar {
    display: flex;
    justify-content: flex-start;  /* Align items horizontally */
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-top: -25px;
    /* margin-bottom: 20px; */
  }
  
  .search-bar input {
    flex: 1;  /* Take up remaining space */
    padding: 10px;
    margin-top: 18px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    font-size: 13px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10.5px 20px;
    margin-left: 10px;  /* Space between input and button */
  }
  
  .search-bar button:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  .recommendations {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
  }
  
  .recommendations h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .recommendations ul {
    list-style-type: none;
    padding: 0;
  }
  
  .recommendations li {
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .recommendations li h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .recommendations li p {
    font-size: 14px;
    margin: 5px 0;
  }
  