body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
}

.trending{
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
}

.trending h1 {
    text-align: center;
    font-size: 2.5rem; 
    color: #3498db;
    margin-bottom: 20px; 
}



.trending h2 {
    color: #2c3e50; 
    font-size: 1.75rem; 
    margin-top: 30px; 
    border-bottom: 2px solid #3498db; 
    padding-bottom: 10px;
}

.trending ul{
    list-style-type: none; 
    padding: 0;
}

.trending li {
    background-color: #fff; 
    margin: 10px 0; 
    padding: 15px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}

.trending-products-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .trending-product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .product-name {
    font-weight: bold;
  }
  
.trending li:hover {
    transform: translateY(-2px); 
}


@media (max-width: 768px) {
    li {
        padding: 10px; 
    }
}