.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-logo p {
    font-size: 36px;
    font-weight: bold;
    color: #171717;
    margin-left: 55px;
    text-decoration: none;
}

.nav-logo a {
    text-decoration: none;
    color: inherit; 
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 55px;
}

.nav-login-cart button {
    padding: 12px 20px;
    border: 1px solid #d1d1d1;
    border-radius: 50px;
    background-color: #fff;
    font-size: 18px;
    color: #515151;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-login-cart button:hover {
    background-color: #f1f1f1;
    color: #333;
}

.nav-login-cart button.active {
    background-color: #e3e3e3;
    color: #007bff;
}

.nav-login-cart img {
    width: 40px;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .navbar {
        padding: 12px 40px;
    }
    .nav-logo p {
        font-size: 30px;
    }
    .nav-login-cart {
        gap: 30px;
    }
    .nav-login-cart button {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .navbar {
        padding: 12px 20px;
    }
    .nav-login-cart img {
        width: 35px;
    }
    .nav-login-cart button {
        font-size: 14px;
        padding: 10px 15px;
    }
}

@media (max-width: 800px) {
    .navbar {
        padding: 10px 10px;
    }
    .nav-logo p {
        font-size: 25px;
    }
    .nav-login-cart {
        gap: 20px;
        margin-right: 20px;
    }
    .nav-login-cart button {
        font-size: 12px;
        padding: 8px 10px;
    }
}

@media (max-width: 500px) {
    .navbar {
        padding: 8px;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-logo {
        margin-left: 0;
    }
    .nav-login-cart {
        gap: 15px;
        margin-right: 0;
    }
    .nav-login-cart button {
        font-size: 12px;
        padding: 6px 10px;
    }
    .nav-login-cart img {
        width: 30px;
    }
}
